.container{
    max-width: 1170px;
    padding: 0px 20px;
    margin: auto;
}

h1{
    font-weight: bold;
    font-size: 28px;
    padding: 20px 0px;
}

.createTopic{
    padding-top: 50px;
}

.topicAddForm > input{
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
}

.topicAddForm > textarea{
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
}

.topicAddForm > button{
    float: right;
    margin: 10px 0px;
}

.btnAddTopic{
    padding: 14px 20px;
    background: lightgrey;
    text-align: center;
    border-radius: 5px;
    float: right;
    margin-top: 30px;
    text-decoration: none;
    color: #000;
}

.btnAddTopic:hover{
    background: grey;
}

.TABLEU {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.TABLEU td, .TABLEU th {
    border: 1px solid #ddd;
    padding: 8px;
}

.TABLEU tr:nth-child(even){background-color: #f2f2f2;}

.TABLEU tr:hover {background-color: #ddd;}

.TABLEU th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
    font-weight: bold;
}

.comment{
    padding: 20px;
    padding-bottom: 28px;
    border-radius: 5px;
    border: solid 1px #000;
    margin-bottom: 20px;
}

.comment > span{
    float: right;
}

.reply{
    background: #eee;
    border-radius: 5px;
    padding: 30px 20px;
    padding-bottom: 55px;
    margin-top: 150px;
}

.reply input, .reply textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.reply button{
    float: right;
    font-size: 16px;
    padding: 8px 16px;
}